$primaryColor: #3E2A35;
$secondaryColor: #C2B2B4;
$tertiaryColor: #5B4447;
$btnColor: #5B4447;
$btnColor2: #222;
$btnHover: #C2B2B4;
$btnActive: #eee;

@mixin input {
	outline: 0;
	box-shadow: 0 0 5px;
	&:hover, &:focus {
	}
}

@mixin input-1 {
	padding: .3rem;
	width: 250px;
	border: 2px solid $secondaryColor;
	outline: 0;
}

@mixin input-2 {
	padding: .7rem;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-row {
	display: flex;
}

@mixin card-text {
	background-color: #fff;
	color: $primaryColor;
	padding: .5rem;
	font-weight: 600;
}

@mixin font-size($n) {
	font-size: $n * 1rem;
}

@mixin default-btn {
	background-color: $btnColor;
	border: none;
	color: $btnActive;
	transition: .07s ease-in-out;
	outline: 0;
	padding: 1rem;
	&.btn-lg {
		width: 100%;
		text-align: center;
	}
	&.btn-sm {
		width: 40%;
	}
	&:disabled {
		background-color: $secondaryColor;
		&:hover {
			color: #eee;
			cursor: default;
		}
	}
	&:hover {
		background-color: $btnHover; 
		color: $btnColor2;
		cursor: pointer;
	}
	&:active {
		background-color: $btnActive;
		color: #222;
	}
}

*:before, *:after, * {
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

// #add-to-album {
// 	background-color: $secondaryColor;
// }

// #add-to-album:hover {
// 	color: #eee;
// 	cursor: default;
// }

.main-content {@include font-size(1)};
.btn {@include default-btn};

.main-header {
	background-color: $primaryColor;
	padding-bottom: 1rem;
	height: 450px;
	.top-nav {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: .5rem 2rem;
		.header-title {
			align-items: center;
			display: flex;
			h1 {
				color: #fff;
				font-size: 36px;
				font-weight: 800;
				letter-spacing: 2px;
				margin: 0;
			}
			img {
				height: 50px;
				margin: 0 .5rem;
				width: 50px;
			}
		}
		.header-search {
			input {
				@include input;
				@include input-1;
				border-radius: 5px 0 0 5px;
				border-right: none;
				float: left;
			};
			[name=btn-search] {
				background-color: $secondaryColor;
				border-left: none;
				border-radius: 0 5px 5px 0;
				border: 2px solid $secondaryColor;
				color: #fff;
				float: right;
				font-size: 18px;
				margin: 0;
				outline: 0;
				padding: 4px 3px 4px 3px;
				&:hover {
					color: $btnColor2;
					cursor: pointer;
				}
			}
		}
	}
	.input-form {
		@include flex-column;
		height: 375px;
		justify-content: space-around;
		margin: 0 auto;
		max-width: 700px;
		min-width: 400px;
		width: 50%;
		.input-div {
			@include flex-column;
			label {
				color: $secondaryColor;
				padding: .6rem 0;
			}
		}
		.inputfile {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		.btn-input-container {
			display: flex;
			justify-content: space-between;
		}
		input {
			@include input;
			@include input-2;
		}
	}
}

.main-content {
	@include flex-row;
	background-color: $secondaryColor;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 3rem;
	min-height: 50vh;
	.card {
		@include flex-column;
		border: 2px solid #938284;
		margin: 1rem;
		width: 200px;
		height: 100%;
		section {
			@include flex-column;
			.card-title {
				@include card-text;
				font-size: 16px;
				margin: 0;
			}
			.card-image {
				height: 125px;
			}
			.card-paragraph {
				@include card-text;
				margin: 0;
				min-height: 80px
			}
		}
		.card-footer {
			@include flex-row;
			align-items: center;
			background-color: $tertiaryColor;
			height: 50px;
			justify-content: space-between;
			img {
				height: 30px;
				width: 30px;
			}
			button {
				background-color: rgba(0,0,0,0);
				border: none;
				cursor: pointer;
				outline: none;
			}
		}
	}
}

@media screen and (max-width: 700px) {

	.main-header {
		height: 490px;
	}

	.header-search {
		margin-top: .9rem;
	}

	.top-nav {
		@include flex-column;
	}
}

@media screen and (max-width: 425px) {
	.main-header {
		.top-nav {
			.header-search {
				width: 80%;
				input {
					width: 80%;
				}
				button {
					width: 20%;
				}
			}
		}
		.input-form {
			min-width: 40%;
			width: 90%;
		}
	}
}










